* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #081123;
    z-index: -1
}

:root {
    --r: 20vw;
}

#wrapper {}

#moring {
    position: relative;

    left: -50vw;
    top: -100vh;

    height: 200vh;
    width: 200vw;

    background-color: skyblue;

    transform: rotate(-95deg);
    transform-origin: bottom;

    transition: all 2s ease;

    z-index: -999;
}

#moon {
    /*    display: none;*/
    position: absolute;

    bottom: -15vh;
    right: -10vw;

    height: var(--r);
    width: var(--r);

    border-radius: 100%;

    background-color: rgba(255, 255, 255, 2);

    box-shadow: 0 0 128px white;

    /*    transition: all 2s ease;*/
    transition-property: bottom, right;
    transition-duration: 1s, 2s;
}

#moon:hover {}

#sun {
    /*    display: none;*/
    position: absolute;

    top: -15vh;
    left: -10vw;

    height: var(--r);
    width: var(--r);

    border-radius: 100%;

    background-color: rgba(255, 152, 0, 1);

    box-shadow: 0 0 228px 13px #FF9800;

    transition-property: top, left;
    transition-duration: 1s, 2s;
    /*    transition: all 2s ease;*/
    z-index: 999px;
}

#sun:hover {}

#sign-up {
    position: absolute;

    font-size: 20px;

    top: 55%;
    left: 55%;

    color: white;

    z-index: 2;
}

#log-in {
    position: absolute;

    font-size: 20px;

    top: 55%;
    left: 40%;

    color: white;

    z-index: 2;
}
