@font-face {
  font-family: easy;
  src: url(Zapfino.ttf);
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li {
    display: inline-block;
    margin-right: 5px;
    /*font-family: Zapfino, Arial;*/
    font-family: easy;
    font-weight: 600;
    font-size: 4em;
    color: #000;
    opacity: 1;
    transition: all 2.5s ease;
}
.fly-in-text li:last-child {
    margin-right: 0;
}
.fly-in-text.hidden li {
    opacity: 0;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(50px) translateY(-100px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.fly-in-text.hidden li:nth-child(8) { transform: translateX(80px) translateY(-150px); }
.fly-in-text.hidden li:nth-child(9) { transform: translateX(120px) translateY(200px); }
.fly-in-text.hidden li:nth-child(10) { transform: translateX(170px) translateY(-190px); }

            
            